<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	    point="org.eclipse.ui.menus">
	   <menuContribution
	       locationURI="menu:org.eclipse.ui.main.menu?after=window"> 
            <menu
                label="FauxPilot"
                id="com.plugin.copilotassistant.menus.fauxpilotMenu">
                <command
                    commandId="com.plugin.copilotassistant.commands.openPreferences"
                    label="Open Preferences"
                    style="push">
                </command>
                <!-- Add more menu items here if needed -->
            </menu>
	   </menuContribution>
	   
		<menuContribution
		    locationURI="toolbar:org.eclipse.ui.trim.status">
		    <toolbar
		        id="com.plugin.copilotassistant.toolbar.status">
		        <command
		            commandId="com.plugin.copilotassistant.commands.enableCodeInsertion"
		            style="toggle"
		            tooltip="Enable/Disable Code Insertion">
		        </command>
		    </toolbar>
		</menuContribution>
	</extension>

	<extension
	    point="org.eclipse.ui.handlers">
	   <handler
	       commandId="com.plugin.copilotassistant.commands.openPreferences"
	       class="com.plugin.copilotassistant.handlers.OpenPreferencesHandler">
	   </handler>
	   
	   <handler
           commandId="com.plugin.copilotassistant.commands.enableCodeInsertion"
           class="com.plugin.copilotassistant.handlers.EnableCodeInsertionHandler">
       </handler>
	</extension>
	

	<extension
	    point="org.eclipse.ui.preferencePages">
	   <page
	      id="com.plugin.copilotassistant.preferences.PluginPreferencePage"
	      name="FauxPilot"
	      class="com.plugin.copilotassistant.preferences.PluginPreferencePage">
	   </page>
	</extension>


	<extension
	   point="org.eclipse.ui.commands">
	   <command
	      id="com.plugin.copilotassistant.commands.openPreferences"
	      name="Open Preferences" />
	      
		<command
	      id="com.plugin.copilotassistant.commands.enableCodeInsertion"
	      style="toggle"
	      name="Enable Code Insertion">
	      <state
	          id="org.eclipse.ui.commands.toggleState"
	          class="org.eclipse.ui.handlers.RegistryToggleState" 
	          default="false">
	      </state>
	   </command>
	</extension>

    <extension
        point="org.eclipse.ui.commands">
        <command
            name="Insert Done"
            id="com.plugin.copilotassistant.commands.insertDone">
        </command>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            commandId="com.plugin.copilotassistant.commands.insertDone"
            class="com.plugin.copilotassistant.handlers.CodeInsertHandler">
        </handler>
    </extension>
    <extension
        point="org.eclipse.ui.bindings">
        <key
            commandId="com.plugin.copilotassistant.commands.insertDone"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="$">
        </key>
    </extension>
</plugin>
